header{
	background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/y7nRb1Fhh8Z.png');
	background-color: #3B5998;
	background-repeat: no-repeat;
	column-width: 100px;
	height:120px;
	padding-top: 0%;
}